 /*.........Días de fuerza  ..............................*/
 body{
   
  background: linear-gradient(180deg, rgb(126, 154, 183) 0, rgb(37, 99, 154) 50%, rgb(19, 19, 19) 95%);
  

}

/*  .fondo-dias-de-fuerza{
 
  box-shadow: 0 0 2rem 1rem black, inset 0 0 1rem .5rem rgb(46, 46, 46);
  border-style: outset;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(34, 34, 34) 0, gray 50%, gray 51%, rgb(42, 42, 42) 100%);
   
  background-size: .45%;

  z-index: -1;
  

} */
  

  /*---------------------------*/
  
  
  
  
  

/*////////////////////////////////  específicos de CADA ALBUM  //////////////////////////////////////////*/













/*--------------------------  DÍAS DE FUERZA   ---------------------------------------*/



.imagenFondo-dias-de-fuerza{  /*  FONDO ESPECÍFICO DE CADA ALBUM   */
  /*   background-image: url("../assets/dramatico_y_nocturno.jpg");                   
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 0% 63%; */
    background: linear-gradient(120deg, rgb(89, 133, 180) 0, rgb(255, 251, 248) 80% ); 
    background: linear-gradient(90deg, rgb(89, 133, 180) 0, rgb(225, 221, 221) 30%, rgb(225, 221, 221) 70%, rgb(89, 133, 180) 100%);
 
  }
  
  
  
  
  .fondo__nombreAlbum-dias-de-fuerza{
    color: rgb(89, 133, 180);                    /* <----------------------------------- */
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto 0px auto;
  }
   
  
  
  
  
  .lista__deslizante{
    background-color: rgba(255, 0, 0, 0);             /*  <-----------------------------------*/
  }
  
  
  
  
  .link__nombreCancion-dias-de-fuerza {    
    width: 240px;
    font-size: 1.3rem;  
    font-weight: bold;                            /*  <-----------------------------------*/
    transition: transform 0.2s ease-in;
  
    color: rgb(89, 133, 180);
    
  }
  
  
  
  .link__nombreCancion-dias-de-fuerza:hover{
    color: rgba(251, 38, 38, 0.437);                     /*  <-----------------------------------*/
  }
  
  
  
  
  .link__bordeBtnPlay-dias-de-fuerza{
    border: 2px solid rgb(70, 69, 69);
    background-color: transparent;
    width: 22px;
    height: 22px;                                    /*  <-----------------------------------*/
    border-radius: 50%;
    padding-top: 2px;
    padding-right: 8px;
    transition: .3s;
  }
  
  
  .link__bordeBtnPlay-dias-de-fuerza:hover{
    background-color: rgba(251, 38, 38, 0.437);          /*  <-----------------------------------*/
  }
  
   
  .link__btnPlay-dias-de-fuerza{
    width: 14px;
    height: 14px;                                             /*  <-----------------------------------*/
    background-color: rgb(89, 133, 180);
    -webkit-clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
            clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform 0.2s linear;
  }
  
  
  
  
  
  
  /*------------tapa--------------*/
  
  
  
  
  
  
  .tapaEspecifica-dias-de-fuerza{
    background:  url("../assets/tapa_dias_de_fuerza.jpg");
    background-repeat: no-repeat;                                  /*  <-----------------------------------*/
    background-size: 102.5%;
    background-position: 53% 50%;
     /*  si no tiene imagen para TAPA se ve de este color  */
    background-color: rgba(255, 0, 0, 0);
  
  }
  
  
  /*-----------  VINILO  --------*/
  
  
  
  
  
  .etiquetaEspecifica-dias-de-fuerza{
    background-image: url("../assets/tapa_dias_de_fuerza.jpg");
    background-size: 100%;
    background-repeat: no-repeat;                        
   background-position: 47% -50%;  
   /* background: linear-gradient(120deg, rgb(240, 166, 141) 0, rgb(252, 76, 16) 70% );
    */
  }
  
  
  
  .etiqueta__nombre-dias-de-fuerza{
    font-size: 12px;
    color: rgb(89, 133, 180);
    text-align: center;
    margin-top: 18px;
  }
  
  /*--------------------------  fin  DÍAS DE FUERZA  ---------------------------------------*/
  
  
  
  
  




  
  
  
  






  
  /*------------  BIOS COLABORADORES  .................*/

/*   .img-dramatico-y-nocturno{
    background-image: url("../assets/dramatico_y_nocturno.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 18% 50%;
  
  } */
  
 
.img-federico-toscano{
  background-image: url("../assets/img-federico-toscano.png");
  background-size: 375%;
  background-position: 52% 45%;
  background-color: rgb(7, 7, 7);
}

.img-federico-oti{
    background-image: url("../assets/img-federico-oti.jpg");
  }
  

  
.img-matias-crosetti{
  background-image: url("../assets/matias-crosetti.jpg");
}

.img-marcelo-romano{
  background-image: url("../assets/marcelo-romano.jpg");
 /*  background-size: 130%;
  background-position: 50% 70%; */
}





/*------------------------   TOCADISCOS    ---------------------------------*/


.disco-inclinado{
  width: 100%;
  height: 100%;
  position: relative;
}


.vinilo-real{
  
 
  background-image: url("../assets/vinilo-real.png"); 
  background-repeat: no-repeat;
  background-size: 124%;
  background-position: -23px 1px;

}


.tapa{
  top: 36.5%;
  left: 18%;
  text-align: center;
  width: 180px;
  height: 180px;
  position: absolute;
}


.img-etiqueta{
  border-radius: 50%;
  width: 34%;
  height: 34%;
  
/*   background-color: rgb(252, 76, 16);  */
  
  background-image: url("../assets/tapa_dias_de_fuerza.jpg");
  background-size: 100%;
  background-repeat: no-repeat;                        
 background-position: 47% 100%;  

  position: relative;
  left: 33.5%;
  top: -4px;
  z-index: 15;
  -webkit-animation: Disc-Rotating 1.818s linear 3s infinite;
          animation: Disc-Rotating 1.818s linear 3s infinite;


}





/*--------------------------------*/



.cancion-body{
  width: 100%;
  height: 100%;
 
}


/* 
.canciones-h1{
  position: relative;
  z-index: 100;
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(17, 16, 16);
}
     
 */





.invi{
  position: absolute;
display: block;
width: 200px;
margin: 0 auto;
height: auto;
  z-index: -10;
}










.fondo-hoja1, .fondo-hoja2, .fondo-hoja3{
 
  background: linear-gradient(90deg, rgb(89, 133, 180) 0, rgb(225, 221, 221) 50%, rgb(89, 133, 180) 100%);
  color: rgb(199, 195, 195);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.fondo-hoja2{
/*   background-image: url("../assets/tapa_dias_de_fuerza.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0% 70%;   */
  background-color: rgb(89, 133, 180);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
 
  color: rgb(199, 195, 195);
}

.fondo-hoja3{
  background-color: rgb(89, 133, 180);
  /* background-image: url("../assets/rifle.png");
  background-repeat: no-repeat;
overflow-x: hidden;
  background-size: 150%;
  background-position: 220% 10%; */
  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  color: rgb(199, 195, 195);
  
}


/*.......................temas individuales (álbum Días de fuerza)*/

/* .body-tema-individual{
  background-color: black;
} */


.fondo-tocadiscos-dias-de-fuerza{
  /*  background: linear-gradient(0deg, rgb(253, 74, 8) 0%, rgb(246, 130, 88) 90%);
   */
 /*   background-image: url("../assets/tapa_dias_de_fuerza.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0% 0%; */
   background: linear-gradient(180deg, rgb(33, 84, 142) 0%,  rgb(242, 243, 245) 100%);
  
  }
 

/*//////////////////  running /  paused   ////////////////////////*/



.running{
  
    -webkit-animation-play-state: running;
  
            animation-play-state: running;
  }
  
  .paused{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  