 /*.........Dramático y nocturno  ..............................*/
  

 .fondo-dias-de-fuerza{
  width: 100%;
  height: 100vh;
  /* background-image: url("../assets/tapa_dias_de_fuerza.jpg");

  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;*/
  position: fixed;
  background: linear-gradient(180deg, rgb(89, 133, 180) 0%, rgb(235, 231, 231) 80%);
  bottom: 0;

  z-index: -1;
  

}
  

  /*---------------------------*/
  
  
  
  
  

/*////////////////////////////////  específicos de CADA ALBUM  //////////////////////////////////////////*/













/*--------------------------  DÍAS DE FUERZA   ---------------------------------------*/



.imagenFondo-dias-de-fuerza{  /*  FONDO ESPECÍFICO DE CADA ALBUM   */
  /*   background-image: url("../assets/dramatico_y_nocturno.jpg");                   
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 0% 63%; */
    background: linear-gradient(120deg, rgb(89, 133, 180) 0, rgb(255, 251, 248) 70% ); 
  }
  
  
  
  
  .fondo__nombreAlbum-dias-de-fuerza{
    color: rgb(89, 133, 180);                    /* <----------------------------------- */
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto 0px auto;
  }
   
  
  
  
  
  .lista__deslizante{
    background-color: rgba(255, 0, 0, 0);             /*  <-----------------------------------*/
  }
  
  
  
  
  .link__nombreCancion-dias-de-fuerza {    
    width: 240px;
    font-size: 1rem;                              /*  <-----------------------------------*/
    transition: transform 0.2s ease-in;
    font-weight: 100;
    color: rgb(89, 133, 180);
  }
  
  
  
  .link__nombreCancion-dias-de-fuerza:hover{
    color: rgb(123, 121, 121);;                     /*  <-----------------------------------*/
  }
  
  
  
  
  .link__bordeBtnPlay-dias-de-fuerza{
    border: 2px solid rgb(70, 69, 69);
    background-color: transparent;
    width: 22px;
    height: 22px;                                    /*  <-----------------------------------*/
    border-radius: 50%;
    padding-top: 2px;
    padding-right: 8px;
    transition: .3s;
  }
  
  
  .link__bordeBtnPlay-dias-de-fuerza:hover{
    background-color: rgba(240, 238, 238, 0.437);          /*  <-----------------------------------*/
  }
  
   
  .link__btnPlay-dias-de-fuerza{
    width: 14px;
    height: 14px;                                             /*  <-----------------------------------*/
    background-color: rgb(89, 133, 180);
    clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform 0.2s linear;
  }
  
  
  
  
  
  
  /*------------tapa--------------*/
  
  
  
  
  
  
  .tapaEspecifica-dias-de-fuerza{
    background:  url("../assets/tapa_dias_de_fuerza.jpg");
    background-repeat: no-repeat;                                  /*  <-----------------------------------*/
    background-size: 102.5%;
    background-position: 53% 50%;
     /*  si no tiene imagen para TAPA se ve de este color  */
    background-color: rgba(255, 0, 0, 0);
  
  }
  
  
  /*-----------  VINILO  --------*/
  
  
  
  
  
  .etiquetaEspecifica-dias-de-fuerza{
    background-image: url("../assets/tapa_dias_de_fuerza.jpg");
    background-size: 100%;
    background-repeat: no-repeat;                        
   background-position: 47% -50%;  
   /* background: linear-gradient(120deg, rgb(240, 166, 141) 0, rgb(252, 76, 16) 70% );
    */
  }
  
  
  
  .etiqueta__nombre-dias-de-fuerza{
    font-size: 12px;
    color: rgb(89, 133, 180);
    text-align: center;
    margin-top: 18px;
  }
  
  /*--------------------------  fin  DÍAS DE FUERZA  ---------------------------------------*/
  
  
  
  
  




  
  
  
  






  
  /*------------  BIOS COLABORADORES  .................*/

/*   .img-dramatico-y-nocturno{
    background-image: url("../assets/dramatico_y_nocturno.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 18% 50%;
  
  } */
  
  

.img-dani-perez{
  background-image: url("../assets/dani_perez.jpg");
}


.img-julian-dario-ribero{
  background-image: url("../assets/julian_dario_ribero.jpg");
}

.img-marcos-ribak{
  background-image: url("../assets/img-marcos-ribak.jpg");
}

.img-fabricio-silvestri{
  background-image: url("../assets/img-fabricio-silvestri.jpg");
}
.img-lisandro-hedin{
  background-image: url("../assets/img-lisandro-hedin.jpg");
}

.img-luciano-tourfini{
  background-image: url("../assets/img-luciano-tourfini.jpg");
  background-size: 130%;
  background-position: 50% 70%;
}

.img-jonatan-bravo{
  background-image: url("../assets/img-jonatan-bravo.jpg");
  background-size: 150%;
  background-position: 50% 70%;
}


.img-leo-sturam{
  background-image: url("../assets/img-leo-sturam.jpg");
  background-size: 150%;
  background-position: 40% 0%;
}

.img-sonia-basch{
  background-image: url("../assets/img-sonia-basch-real.jpg");
  background-size: 120%;
  background-position: 40% -5%; 
}




/*------------------------   TOCADISCOS    ---------------------------------*/


.disco-inclinado{
  width: 100%;
  height: 100%;
  position: relative;
}


.color-disc-hambre{
  
 
  background-image: url("../assets/vinilo-real.png"); 
  background-repeat: no-repeat;
  background-size: 124%;
  background-position: -23px 1px;

}


.tapa{
  top: 36.5%;
  left: 18%;
  text-align: center;
  width: 180px;
  height: 180px;
  position: absolute;
}


.img-etiqueta{
  border-radius: 50%;
  width: 34%;
  height: 34%;
  
  background-color: rgb(252, 76, 16); 
  
  background-image: url("../assets/hambre.jpg");
  background-size: 70%;
  background-repeat: no-repeat;                        
 background-position: 47% 100%;  

  position: relative;
  left: 33.5%;
  top: -4px;
  z-index: 15;
  animation: Disc-Rotating 1.818s linear 3s infinite;


}





/*--------------------------------*/



.cancion-body{
  width: 100%;
  height: 100%;
 
}


/* 
.canciones-h1{
  position: relative;
  z-index: 100;
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(17, 16, 16);
}
     
 */





.invi{
  position: absolute;
display: block;
width: 200px;
margin: 0 auto;
height: auto;
  z-index: -10;
}




.img-dramatico-y-nocturno1{
  background-color: black;
  color: rgb(199, 195, 195);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.img-dramatico-y-nocturno2{
  background-image: url("../assets/dramatico_y_nocturno.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0% 70%;  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
 
  color: rgb(199, 195, 195);
}

.img-dramatico-y-nocturno3{
  background-color: black;
  /* background-image: url("../assets/rifle.png");
  background-repeat: no-repeat;
overflow-x: hidden;
  background-size: 150%;
  background-position: 220% 10%; */
  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  color: rgb(199, 195, 195);
  
}



/*//////////////////  running /  paused   ////////////////////////*/



.running{
  
    animation-play-state: running;
  }
  
  .paused{
    animation-play-state: paused;
  }
  
  