 /*.........Dramático y nocturno  ..............................*/
  
 .fondo-dranatico-y-nocturno{
    
    background-image: url("../assets/dramatico_y_nocturno_limpio.jpg");
  
    background-repeat: no-repeat;
    background-size: 320%;
    background-position: 50% 62%;
    
    
/* 
    position: fixed; 
    bottom: 0; */
    filter: blur(0.5rem); 
    
    
  
  }
  
  
  @media screen and (min-width: 430px) {
       
  
    .fondo-dranatico-y-nocturno{
     
      
      background-size: 200%;

    }
  
  }
  
  
  @media screen and (min-width: 768px) {
   
  
   .fondo-dranatico-y-nocturno{
    
   
     background-size: 130%;
    }
  
  }


   
  @media screen and (min-width: 1024px) {
   
  
    .fondo-dranatico-y-nocturno{
    
    
      background-size: 130%;
     }
   
   }
  
  /*---------------------------*/
  
  
  
  
  

/*////////////////////////////////  específicos de CADA ALBUM  //////////////////////////////////////////*/







/*...........  DRAMÁTICO Y NOCTURNO   .................*/






.imagenFondo-dramatico-y-nocturno{  /*  FONDO ESPECÍFICO DE CADA ALBUM   */
    background-image: url("../assets/dramatico_y_nocturno.jpg");                   /*  <-----------------------------------*/
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 0% 63%;
    box-shadow: inset 18px 25px 3rem black;
  }
  
 
  
  
  .fondo__nombreAlbum-dramatico-y-nocturno{
    color: rgb(227, 222, 222, 0);                    /* <----------------------------------- */
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto 0px auto;
  }
   
  
  
  
  
  .lista__deslizante{
    background-color: rgba(255, 0, 0, 0);             /*  <-----------------------------------*/
  }
  
  .link__nombreCancion {    
    width: 240px;
    font-size: 1.4rem;                              /*  <-----------------------------------*/
    transition: transform 0.2s ease-in;
    font-weight: 100;
    color: whitesmoke;
  }
  
  
  
  .link__nombreCancion:hover{
    color: rgb(136, 134, 134);;                     /*  <-----------------------------------*/
  }
  
  
  
  
  .link__bordeBtnPlay{
    border: 2px solid rgb(70, 69, 69);
    background-color: transparent;
    width: 22px;
    height: 22px;                                    /*  <-----------------------------------*/
    border-radius: 50%;
    padding-top: 2px;
    padding-right: 8px;
    transition: .3s;
  }
  
  
  .link__bordeBtnPlay:hover{
    background-color: rgba(112, 80, 80, 0.939);          /*  <-----------------------------------*/
  }
  
   
  .link__btnPlay{
    width: 14px;
    height: 14px;                                             /*  <-----------------------------------*/
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform 0.2s linear;
  }
  
  
  
  
  
  
  /*------------tapa--------------*/
  
  
  
  
  
  
  .tapaEspecifica-dramatico-y-nocturno{
    background:  url("../assets/dramatico_y_nocturno.jpg");
    background-repeat: no-repeat;                                  /*  <-----------------------------------*/
    background-size: 102.5%;
    background-position: 53% 50%;
     /*  si no tiene imagen para TAPA se ve de este color  */
    background-color: rgba(255, 0, 0, 0);
  
  }
  
  
  /*-----------  VINILO  --------*/
  

  

  
  
  
  
  .etiquetaEspecifica-dramatico-y-nocturno{
    background-color: rgb(43, 35, 33);
    background-image: url("../assets/dramatico_y_nocturno.jpg");
    background-size: 90%;
    background-repeat: no-repeat;                         /*  <-----------------------------------*/
    background-position: 50% 60%;
   }
  
  
  /*--------------------------  fin  DRAMÁTICO Y NOCTURNO   ---------------------------------------*/
  
  






  
  /*------------  BIOS COLABORADORES  .................*/

  .img-dramatico-y-nocturno{
    background-image: url("../assets/dramatico_y_nocturno.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 18% 50%;
  
  }
  
  

.img-dani-perez{
  background-image: url("../assets/dani_perez.jpg");
}


.img-julian-dario-ribero{
  background-image: url("../assets/julian_dario_ribero.jpg");
}

.img-marcos-ribak{
  background-image: url("../assets/img-marcos-ribak.jpg");
}

.img-fabricio-silvestri{
  background-image: url("../assets/img-fabricio-silvestri.jpg");
}
.img-lisandro-hedin{
  background-image: url("../assets/img-lisandro-hedin.jpg");
}

.img-luciano-tourfini{
  background-image: url("../assets/img-luciano-tourfini.jpg");
  background-size: 130%;
  background-position: 50% 70%;
}

.img-jonatan-bravo{
  background-image: url("../assets/img-jonatan-bravo.jpg");
  background-size: 150%;
  background-position: 50% 70%;
}


.img-leo-sturam{
  background-image: url("../assets/img-leo-sturam.jpg");
  background-size: 150%;
  background-position: 40% 0%;
}

.img-sonia-basch{
  background-image: url("../assets/img-sonia-basch-real.jpg");
  background-size: 120%;
  background-position: 40% -5%; 
}




/*------------------------   TOCADISCOS    ---------------------------------*/


.disco-inclinado{
  width: 100%;
  height: 100%;
  position: relative;
}


.color-disc-dramatico-y-nocturno{
  
 
  background-image: url("../assets/vinilo-real.png"); 
  background-repeat: no-repeat;
  background-size: 124%;
  background-position: -23px 1px;

}


.tapa{
  top: 36.5%;
  left: 18%;
  text-align: center;
  width: 180px;
  height: 180px;
  position: absolute;
}


.img-etiqueta{
  border-radius: 50%;
  width: 34%;
  height: 34%;
  background-color: rgb(43, 35, 33);
  background-image: url("../assets/dramatico_y_nocturno.jpg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 60% 60%;
  position: relative;
  left: 33.5%;
  top: -4px;
  z-index: 15;
  animation: Disc-Rotating 1.818s linear 3s infinite;
}




/*--------------------------------*/



.cancion-body{
  width: 100%;
  height: 100%;
 
}


  



/* 


.invi{
  position: absolute;
display: block;
width: 200px;
margin: 0 auto;
height: auto;
opacity: 0;
  z-index: -10;
} */




.img-dramatico-y-nocturno1{
  background-color: black;
  color: rgb(199, 195, 195);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.img-dramatico-y-nocturno2{
  background-image: url("../assets/dramatico_y_nocturno.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0% 70%;  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
 
  color: rgb(199, 195, 195);
}

.img-dramatico-y-nocturno3{
  background-color: black;
  /* background-image: url("../assets/rifle.png");
  background-repeat: no-repeat;
overflow-x: hidden;
  background-size: 150%;
  background-position: 220% 10%; */
  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  color: rgb(199, 195, 195);
  
}



/*//////////////////  running /  paused   ////////////////////////*/



.running{
  
    animation-play-state: running;
  }
  
  .paused{
    animation-play-state: paused;
  }
  
  