



      /*-----------GALERY---------*/


*,*::after, *::before {
  box-sizing: inherit;
} 


  .transp-foto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(49, 77, 155, 0);
    z-index: 11;
  }

.galery-container{

  width: 296px;
  height: auto;
 padding-top: 50px;
 padding-bottom: 60px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow-x: hidden;
overflow-y: hidden;

}



@keyframes Animacion-pelicula-fotos{
  0%{
    transform: perspective(1000px) rotateY(0deg) rotateZ(10deg);
  }
/*  50%{
    transform: perspective(1000px) rotateY(60deg) rotateZ(0deg);
  }  */
  100%{
    transform: perspective(1000px) rotateY(360deg) rotateZ(10deg);
  }
}


  .galery{
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   flex-direction: column;
    justify-content: space-around;
   /*  transform: perspective(1000px) rotateY(30deg) rotateZ(-10deg); */
    filter: invert(1) sepia(0.8);
    transition: 1s;
    position: relative;
    top: -20px;
    z-index: 10;

    
    
  }

  
  .transp2-foto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    
    background-color: rgba(49, 77, 155, 0);
    z-index: 5;
  }

  .galery-2{
    
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    
    display: flex;
   flex-direction: column;
    justify-content: space-around;
   /*  transform: perspective(1000px) translateX(-5px) rotateY(-60deg) rotatex(20deg) rotateZ(0deg);
    */ 
    filter: invert(1) sepia(0.8);
    transition: 1s;
    position: relative;
    z-index: 2;

    
  }


.animacion-pelicula-fotos{
  animation: Animacion-pelicula-fotos 10s linear infinite;
}

.delay-6s{
  animation-delay: 6s;
}

.capa-agujeros{
  width: 100px;
  position: relative;
  

  
  height: 100px;
  background: repeating-linear-gradient(90deg, rgb(84, 201, 148) 0%, rgb(84, 201, 148) 5%, transparent 5%, transparent 12%, rgb(84, 201, 148) 12%, rgb(84, 201, 148) 21%);
}


  .foto{

    position: relative;
  
    width: 100%;
    height: 70%;
    background: repeating-linear-gradient(rgb(84, 201, 148) 0%, rgb(84, 201, 148) 5%, black 5%, rgb(0, 0, 0) 11%, rgb(84, 201, 148) 11%, rgb(84, 201, 148) 25%); 

   
  
  }
.foto img{
  display: block;
  width: 68%;
  height: 96%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -100px;
}


.normal-galery{
  width: 260px;
  height: auto;
  transition: 1s;
  transform: none;
  filter: none;
  position: relative;
  z-index: 100;
  left: -3px;
margin-bottom: 280px;
}
 
.normal-galery .foto{
  border: solid rgb(23, 22, 22) 12px;
  outline: 1px solid rgb(129, 128, 128);

  
  /* border: solid rgb(18, 18, 17) 18px; */
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 40px;
  box-shadow: 4px 0 1rem 0.1rem rgb(40, 40, 40);
 
}

.normal-galery img{
  width: 100%;
  height: 100%;
  margin-left: auto;
}


.running{
  
    animation-play-state: running;
  }
  



/*---------------GALERY----------------------------*/



.galeria{
  width: 290px;
  height: auto;
  margin-left: auto;

margin-right: auto;
margin-bottom: 80px;
margin-top: 80px;
padding-top: 1px;
padding-bottom: 50px;

}


@media screen and (min-width: 768px){
  
  .galeria{
    width: 290px;
    height: 850px;
    margin-left: auto;
    margin-top: 235px;
  
  margin-right: auto;
  
   }
    
   .galeria-grande1{
    height: auto;
   }
   .galeria-grande2{
    height: auto;
   }
 

  }


  

