 /*.........   HAMBRE  .........
 Página del álbum
 .....................*/
   .fondo-hambre{
   
   
     background: linear-gradient(90deg, rgb(129, 128, 128) 0%, rgb(19, 19, 19) 85%);
  background-size: 1%;
  

  } 
   

  

@media screen and (min-width: 450px) {
  .fondo-hambre{
   
   
    background-size: .4%;
 

 } 

}
/*  .fondo-hambre{

   
   box-shadow: 0 0 2rem 1rem black, inset 0 0 1rem .5rem rgb(104, 20, 5);
  border-style: outset;
  border-radius: 5px;

  background-color: rgb(31, 31, 31);
  background: linear-gradient(90deg, rgb(34, 34, 34) 0, gray 50%, gray 51%, rgb(42, 42, 42) 100%);
  background-size: .45%;
 
} 
 */
 
  /*---------------------------*/
  
  
  
  
  

/*////////////////////////////////  específicos de CADA ALBUM  //////////////////////////////////////////*/













/*--------------------------  HAMBRE   ---------------------------------------*/



.imagenFondo-hambre{  /*  FONDO ESPECÍFICO DE CADA ALBUM   */
    
    background-color: rgb(206, 83, 42);
    background-image: url("../assets/hambre-fondo.jpg");                   
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -40% 63%; 
    box-shadow: inset 18px 25px 3rem black;
   /*  background: linear-gradient(120deg, rgb(240, 166, 141) 0, rgb(252, 76, 16) 70% ); 
   */
  }
  
  
  .album__fondo__sepia{
    position: absolute;
    width: 100%;
    height: 100%;
   
    -webkit-backdrop-filter: sepia(100%);
    backdrop-filter: sepia(100%);

    z-index: 3;
  }  
  
  .fondo__nombreAlbum-hambre{
    position: relative;
    color: rgb(255, 255, 255);                    /* <----------------------------------- */
    font-size: 1.3rem;
    padding-left: 94px;
    margin: 20px auto 0px auto;

    z-index: 5;
  }
   
  
  
  
  
  .lista__deslizante{
    position: relative;
      
    
    
    z-index: 5;
  }
  
  
  
  
  .link__nombreCancion-hambre {    
    width: 240px;
    font-size: 1.5rem;                              /*  <-----------------------------------*/
    transition: transform 0.2s ease-in;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 0px 0px 5px rgb(27, 27, 27), 0px 0px 8px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
    
  }
  
  
  
  .link__nombreCancion-hambre:hover{
    color: rgb(252, 76, 16);  
                       /*  <-----------------------------------*/
  }
  
  
  
  
  .link__bordeBtnPlay-hambre{
    border: 2px solid rgb(70, 69, 69);
    background-color: transparent;
    width: 22px;
    height: 22px;                                    /*  <-----------------------------------*/
    border-radius: 50%;
    padding-top: 2px;
    padding-right: 8px;
    transition: .3s;
  }
  
  
  .link__bordeBtnPlay-hambre:hover{
    background-color: rgb(121, 121, 121); 
   
             /*  <-----------------------------------*/
  }
  
   
  .link__btnPlay-hambre{
    width: 14px;
    height: 14px;                                             /*  <-----------------------------------*/
    background-color: rgb(252, 76, 16);
    -webkit-clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
            clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform 0.2s linear;
  }
  
  
  
  
  
  
  /*------------tapa--------------*/
  
  
  
  
  
  
  .tapaEspecifica-hambre{
    background:  url("../assets/hambre.jpg");
    background-repeat: no-repeat;                                  /*  <-----------------------------------*/
    background-size: 102.5%;
    background-position: 53% 50%;
     /*  si no tiene imagen para TAPA se ve de este color  */
    background-color: rgba(255, 0, 0, 0);
  
  }
  
  
  /*-----------  VINILO  --------*/
  
  
  
  
  
  .etiquetaEspecifica-hambre{
    background-color: rgb(252, 76, 16); 
  
    background-image: url("../assets/hambre.jpg");
    background-size: 80%;
    background-repeat: no-repeat;                        
   background-position: 47% 140%; 
   border-radius: 50%;
    box-shadow: inset 0 0 .6rem .2rem rgb(87, 31, 7), inset 0 0 2rem .3rem rgb(220, 68, 18);  
   
  }
  
  
  
  .etiqueta__nombre-hambre{
    font-size: 12px;
    color: aliceblue;
    text-align: center;
    margin-top: 18px;
  }
  
  /*--------------------------  fin  HAMBRE  ---------------------------------------*/
  
  
  
  
  
  
  
  
  
  






  
 
 
  .img-hambre{
/*     background: linear-gradient(90deg, rgb(16, 16, 16) 0, gray 50%, gray 51%, rgb(16, 16, 16) 100%); */

    background: url("../assets/hambre-fondo.jpg"), rgb(18, 18, 18);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 0% 70%;

    
  
  } 
  

   .img-corrida{
    background-position: 0% 194%;
  }
   
.fondo-hoja2, .fondo-hoja3, .fondo-hoja4, .fondo-hoja5 {
  background-color: rgb(18, 18, 18);
}



.enlaceAMusico {
 
  color: rgb(253, 74, 8);
  
}



 /*------------  BIOS COLABORADORES  .................*/

.img-dani-perez{
  background-image: url("../assets/dani_perez.jpg");
}



.img-marcos-ribak{
  background-image: url("../assets/img-marcos-ribak.jpg");
}

.img-pablo-brun{
  background-image: url("../assets/img-pablo-brun.jpg");
}
.img-daniel-ovie{
  background-image: url("../assets/img-daniel-ovie.jpg");
  background-size: 135%;
  background-position: 50% 70%;
}

.img-daniel-oconnell{
  background-image: url("../assets/img-daniel-oconnell.jpg");

}

.img-billie-gomez{
  background-image: url("../assets/img-billie-gomez.jpg");
  background-size: 150%;
  background-position: 50% 70%;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}


.img-federico-fragola{
  background-image: url("../assets/img-federico-fragola.jpg");
  background-size: 150%;
  background-position: 40% 0%;
}

.img-sonia-basch{
  background-image: url("../assets/img-sonia-basch-real.jpg");
  background-size: 120%;
  background-position: 40% -5%; 
}

.img-virna-cortinovis-reina{
  background-image: url("../assets/img-virna-cortinovis-reina.jpg");
  background-size: 120%;
  background-position: 40% -5%; 
}



/*------------------------   TOCADISCOS    ---------------------------------*/


.disco-inclinado{
  width: 100%;
  height: 100%;
  position: relative;
}


.color-disc-hambre{
  
 
  background-image: url("../assets/vinilo-real.png"); 
  background-repeat: no-repeat;
  background-size: 124%;
  background-position: -23px 1px;

}


.tapa{
  top: 36.5%;
  left: 18%;
  text-align: center;
  width: 180px;
  height: 180px;
  position: absolute;
}


.img-etiqueta{
  border-radius: 50%;
  width: 34%;
  height: 34%;
  
  background-color: rgb(252, 76, 16); 
  
  background-image: url("../assets/hambre.jpg");
  background-size: 70%;
  background-repeat: no-repeat;                        
 background-position: 47% 100%;  

  position: relative;
  left: 33.5%;
  top: -4px;
  box-shadow: inset 0 0 .6rem .2rem rgb(87, 31, 7), inset 0 0 1rem .1rem rgb(220, 68, 18);  
  z-index: 15;
  -webkit-animation: Disc-Rotating 1.818s linear 3s infinite;
          animation: Disc-Rotating 1.818s linear 3s infinite;


}





/*--------------  fondo del contenedor principal  ------------------*/

 




.invi{
  position: absolute;
display: block;
width: 200px;
margin: 0 auto;
height: auto;
  z-index: -10;
}



/* 
.img-dramatico-y-nocturno1{
  background-color: black;
  color: rgb(199, 195, 195);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.img-dramatico-y-nocturno2{
  background-image: url("../assets/dramatico_y_nocturno.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0% 70%;  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
 
  color: rgb(199, 195, 195);
}

.img-dramatico-y-nocturno3{
  background-color: black;

  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  color: rgb(199, 195, 195);
  
}

 */

/*.......................temas individuales (álbum Hambre)*/

/* .body-tema-individual{
  background-color: black;
} */


.fondo-tocadiscos-hambre{
  background: linear-gradient(0deg, rgb(253, 74, 8) 0%, rgb(246, 130, 88) 90%);
 
}

 

/*//////////////////  running /  paused   ////////////////////////*/



.running{
  
    -webkit-animation-play-state: running;
  
            animation-play-state: running;
  }
  
  .paused{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
 