:root{
    --la-ultima-rotacion-del-sol-color: rgb(92, 149, 161);
}

.body-album-la-ultima-rotacion-del-sol{
    background: linear-gradient(90deg, var(--la-ultima-rotacion-del-sol-color) 0, var(--la-ultima-rotacion-del-sol-color) 70%, rgb(19, 19, 19) 85%);
    background-size: 1%;
}

@media screen and (min-width: 450px) {
  .body-album-la-ultima-rotacion-del-sol{
   
   
    background-size: .4%;
 

 } 

} 

/*        
.fondo-la-ultima-rotacion-del-sol{

    background: linear-gradient(90deg, rgb(246, 120, 0) 0, rgb(246, 120, 0) 5%, var(--la-ultima-rotacion-del-sol-color) 30%, var(--la-ultima-rotacion-del-sol-color) 70%, rgb(246, 120, 0) 95%, rgb(246, 120, 0) 100%);
    background: linear-gradient(90deg, rgb(14, 14, 14) 0, gray 50%, gray 51%, rgb(14, 14, 14) 100%);
   
    box-shadow: 0 0 2rem 1rem black, inset 0 0 1rem .5rem rgb(40, 39, 39);
    border-style: outset;
    border-radius: 5px;
    background-size: .45%;
    z-index: -1;
    
  
  } */









/*-------------------------- ÁLBUM  LA ÚLTIMA ROTACIÓN DEL SOL   ---------------------------------------*/



.imagenFondo-la-ultima-rotacion-del-sol{  /*  FONDO ESPECÍFICO DE CADA ALBUM   */
    /*   background-image: url("../assets/dramatico_y_nocturno.jpg");                   
      background-size: 170%;
      background-repeat: no-repeat;
      background-position: 0% 63%; */
      background: linear-gradient(30deg, rgb(255, 251, 248) 0%, rgb(85, 152, 168) 30%); 
    }
    
    
    
    
    .fondo__nombreAlbum-la-ultima-rotacion-del-sol{
      color: rgb(242, 246, 251);                    /* <----------------------------------- */
      font-size: 1rem;
      text-align: center;
      margin: 20px auto 0px auto;
    }
     
    
    
    
    
    .lista__deslizante{
      background-color: rgba(255, 0, 0, 0);             /*  <-----------------------------------*/
    }
    
    
    
    
    .link__nombreCancion-la-ultima-rotacion-del-sol {    
      width: 240px;
      font-size: 22px;                              /*  <-----------------------------------*/
      transition: transform 0.2s ease-in;
      font-weight: 100;
      color: rgb(233, 20, 8);
    }
    
    
    
    .link__nombreCancion-la-ultima-rotacion-del-sol:hover{
      color: rgb(123, 121, 121);;                     /*  <-----------------------------------*/
    }
    
    
    
    
    .link__bordeBtnPlay-la-ultima-rotacion-del-sol{
      border: 2px solid rgb(70, 69, 69);
      background-color: transparent;
      width: 22px;
      height: 22px;                                    /*  <-----------------------------------*/
      border-radius: 50%;
      padding-top: 2px;
      padding-right: 8px;
      transition: .3s;
    }
    
    
    .link__bordeBtnPlay-la-ultima-rotacion-del-sol:hover{
      background-color: rgba(240, 238, 238, 0.437);          /*  <-----------------------------------*/
    }
    
     
    .link__btnPlay-la-ultima-rotacion-del-sol{
      width: 14px;
      height: 14px;                                             /*  <-----------------------------------*/
      background-color: rgb(233, 20, 8);
      clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
      transition: transform 0.2s linear;
    }
    
    
    
    
    
    
    /*------------tapa--------------*/
    
    
    
    
    
    
    .tapaEspecifica-la-ultima-rotacion-del-sol{
      background:  url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
      background-repeat: no-repeat;                                  /*  <-----------------------------------*/
      background-size: 102.5%;
      background-position: 53% 50%;
       /*  si no tiene imagen para TAPA se ve de este color  */
      background-color: rgba(255, 0, 0, 0);
    
    }
    
    
    /*-----------  VINILO  --------*/
    
    
    
    
    
    .etiquetaEspecifica-la-ultima-rotacion-del-sol{
      background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
      background-size: 100%;
      background-repeat: no-repeat;                        
     background-position: 47% -50%;  
     /* background: linear-gradient(120deg, rgb(240, 166, 141) 0, rgb(252, 76, 16) 70% );
      */
    }
    
    
    
    .etiqueta__nombre-la-ultima-rotacion-del-sol{
      font-size: 12px;
      color: rgb(89, 133, 180);
      text-align: center;
      margin-top: 18px;
    }
    
    /*--------------------------  fin LA ÚLTIMA ROTACIÓN DEL SOL  ---------------------------------------*/
   






    


  
  /*------------  BIOS COLABORADORES  .................*/
 



  .hoja__contenido p{
   
    font-style: normal;
    
    
  
  }
  
  .hoja__contenido p .numero{
   
    color: rgb(174, 168, 168);
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 .3rem black, 0 0 .3rem black, 0 0 .3rem black;
    
    
  
  }
  
  .hoja__contenido  .numero{
   
    color: rgb(195, 193, 193);
    font-size: .9rem;
    font-weight: bold;
    text-shadow: 0 0 .3rem black;
    
    
  
  }

   .fondo-hoja1{
    background-color: var(--la-ultima-rotacion-del-sol-color);
   }


  .fondo-hoja2{
    background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    
  
  } 
  

   .img-corrida{
    background-position: 0% 194%;
    background-color: var(--la-ultima-rotacion-del-sol-color);

  }
   

.img-mikle-culaciati{
  background-image: url("../assets/img-mikle-culaciati.jpg");
}



.img-federico-toscano{
  background-image: url("../assets/img-federico-toscano.png");
  background-size: 375%;
  background-position: 52% 45%;
  background-color: rgb(7, 7, 7);
}

.img-federico-oti{
    background-image: url("../assets/img-federico-oti.jpg");
  }
  
  .img-gustavo-fourcade{
    background-image: url("../assets/img-gustavo-fourcade.jpg");
  }


  .img-vuala{
    background-image: url("../assets/img-vuala.jpg");
  }
  
  
/*------------------------   TOCADISCOS    ---------------------------------*/


.disco-inclinado{
  width: 100%;
  height: 100%;
  position: relative;
}


.vinilo-real{
  
 
  background-image: url("../assets/vinilo-real.png"); 
  background-repeat: no-repeat;
  background-size: 124%;
  background-position: -23px 1px;

}


.tapa{
  top: 36.5%;
  left: 18%;
  text-align: center;
  width: 180px;
  height: 180px;
  position: absolute;
}


.img-etiqueta{
  border-radius: 50%;
  width: 34%;
  height: 34%;
  

  
  background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
  background-size: 100%;
  background-repeat: no-repeat;                        
 background-position: 0% 0%;  

  position: relative;
  left: 33.5%;
  top: -4px;
  box-shadow: inset 0 0 1rem .2rem rgb(39, 38, 38);  
  z-index: 15;
  animation: Disc-Rotating 1.818s linear 3s infinite;


}





/*--------------  fondo del contenedor principal  ------------------*/




.invi{
  position: absolute;
display: block;
width: 200px;
margin: 0 auto;
height: auto;
  z-index: -10;
}




.img-la-ultima-rotacion-del-sol1{
  background-color: var(--la-ultima-rotacion-del-sol-color);
  color: rgb(199, 195, 195);
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.img-la-ultima-rotacion-del-sol{
  background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0% 70%;  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
 
  color: rgb(199, 195, 195);
}

.img-la-ultima-rotacion-del-sol{
    background-color: var(--la-ultima-rotacion-del-sol-color);
  /* background-image: url("../assets/rifle.png");
  background-repeat: no-repeat;
overflow-x: hidden;
  background-size: 150%;
  background-position: 220% 10%; */
  
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  color: rgb(199, 195, 195);
  
}


/*.......................temas individuales (álbum Hambre)*/

 


.fondo-tocadiscos-la-ultima-rotacion-del-sol{
  background-image: url("../assets/fondo_la_ultima_rotacion_del_sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%; 
 background: linear-gradient(180deg, rgb(97, 155, 166) 0, rgb(156, 173, 177) 100%);
}

/* .opacity-fondo-la-ultima-rotacion-del-sol{
  -webkit-backdrop-filter: sepia(100%);
  backdrop-filter: sepia(100%);
} */

/*//////////////////  running /  paused   ////////////////////////*/



.running{
  
    animation-play-state: running;
  }
  
  .paused{
    animation-play-state: paused;
  }
  
 